

.all-products-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px 20px;
}

.product-category-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.all-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    position: relative;
    width: 380px;
    overflow: hidden;
}

.product-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.product-card-image {
    height: 200px;
    overflow: hidden;
    position: relative;
    padding: 20px;
}

.product-card-image img {
    display: block;
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.product-card-info {
    padding: 20px;
}

.product-card-name {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    text-decoration: none;
    color: #111;
}

.product-card-name:hover {
    color: #007185;
    text-decoration: underline;
}

.product-card-price {
    color: #b12704;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-card-button {
    background-color: #f0c14b;
    border: none;
    border-radius: 5px;
    color: #111;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.product-card-button:hover {
    background-color: #ddb347;
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
}

.product-card-button:focus {
    outline: none;
}  
