.all-products-container {
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 1200px;
    padding: 40px 20px;
}

.all-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.product-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    position: relative;
    width: 380px;
}

.product-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.product-card-image {
    height: 200px;
    position: relative;
    padding: 20px;
}

.product-card-image img {
    display: block;
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.product-card-info {
    padding: 20px;
}

.product-card-name {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    text-decoration: none;
    color: #111;
}

.product-card-name:hover {
    color: #007185;
    text-decoration: underline;
}

.product-card-price {
    color: #b12704;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-item-rating {
    margin-left: 7px;
    margin-bottom: 10px;
    display: block;
    align-items: center;
}

.product-item-rating-val {
    margin-top: 2px;
    font-size: 14px;
    line-height: 20px;
    margin-right: 4px;
}

.product-ratings-length {
    font-size: 14px;
    line-height: 20px;
    color: #007185;
    margin-left: 5px;
}