.home {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;

}

.product {
    width: 33%;
    padding: 20px;
    box-sizing: border-box;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product .name {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
}

.product .price {
    font-size: 1.2em;
    font-weight: bold;
}