
.category-bar-container {
    width: 100%;
    min-width: 1400px;
    background-color: #232F3E;
    padding-bottom: 10px;
    z-index: 4;
}

.category-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 10px;
    padding-top: 3px;
    overflow: hidden;
    color: white;
}

.links {
    color: white;
    margin: 1px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 12px;
}

.links:hover {
    color: white;
    border: 1px solid white;
    margin: 0px;
    text-decoration: none;
    border-radius: 1px;
}




