
.address-container  {
background: #eaeded;
display: flex;
justify-content: center;
align-items: center;
}

.card {
    background: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 1000px;
    height: 450px;
}

.address-heading{
    font-size: 58px;
    color: #232f3e;
}

.address-content{
    font-size: 26px;
    line-height: 1.5;
    color: #232f3e;
    text-align: center;
}

.address-links a {
    text-decoration: none;
    color: black;
}

.address-links {
display: flex;
justify-content: space-around;
align-items: center;
width: 800px;
}

.address-links-container {

    position: relative;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.address-links img {
    height: 30px;
    filter: brightness(0.8) invert(1);
}

/* MODAL */
.address-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.address-modal-content {
    position: relative;
    background-color: white;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}

.address-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}