.signup-logo {
    /* margin-top: 20px; */
    object-fit: contain;
    width: 130px;
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
    height: fit-content
}

.signup-form>h1 {
    display: block;
    justify-content: flex-start;
    width: 100%;
    font-weight: 400;
    font-size: 30px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 30px 25px;
    border-radius: 4px;
    border: 1px solid lightgray;
}

.signup-form-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 2px;
    padding-left: 2px;

    margin-bottom: 20px !important;
}

.signup-form-input {
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%);
    outline: 0;
    height: 30px;
    margin-top: 4px;
    width: 100%;
    background-color: #fff;
    text-indent: 7px;
}

.signup-form-input:focus {
    outline: none;
    border: 1px solid #e77601;
    filter: drop-shadow(0px 0px 2px #e88420);
}

.error-icon {
    background-image: url("https://d1irxr40exwge2.cloudfront.net/atlas.png");
    background-repeat: no-repeat;
    align-self: center;

    background-position: -166px -130px;
    height: 13px;
    width: 5px;
    margin-left: 2px;
}

.always-show-error{
    font-size: 12px;
    padding-left: 10px;
    line-height: 15px;
    color: #2b2b2b;
    font-weight: lighter;
}

.password-show-error {
    display: flex;
    margin-top: 5px;
}

.signup-form-errors {
    display: block;
    color: red;
    margin-bottom: 20px;
    font-size: 10px;
}

.signup-form-button {
    margin-bottom: 26px;
    width: 100%;
    background-image: linear-gradient(rgb(247, 223, 165), rgb(240, 193, 75));
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block; 
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    height: 29px;
    border-radius: 2px;
}

.signup-form-button:hover {
    border-color: #a88734 #9c7e31 #9c7e31;
    background-image: linear-gradient(rgb(236, 213, 158), rgb(219, 178, 77));
}


.have-account {
    font-size: 13px;

}

.signup-terms {
    font-size: 12px;
    padding-bottom: 25px;
}
.break-between {
    width: 100%;
    height: 14px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .14), rgba(0, 0, 0, .03) 3px, transparent);
}

.break-between::after {
    display: block;
    width: 100%;
    height: 44px;
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
    content: "";
}